<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="You're Awesome" />
    <meta name="description" content="and someone needs to tell you." />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="en-us" />
    <style>
      h1,
      h2 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h2>{{ first }}</h2>
    <h1>{{ second }} {{ third }}</h1>
    <h2>{{ fourth }}</h2>
  </body>
</html>
